.let {
    color: black;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 55px;
    text-align: center; 
    margin: 30px 30px 20px;
  }

  .botones {
    text-align: center; /* Centrar los botones */
    margin-top: 70px; /* Margen superior */
    margin-bottom: 30px;
  }
  
  .anterior, .siguiente {
    background-color: #007bff; /* Fondo azul */
    color: #ffffff; /* Letras blancas */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Relleno */
    font-size: 16px; /* Tamaño de fuente */
    cursor: pointer; /* Cursor de mano */
  }
  
  .anterior:hover, .siguiente:hover {
    background-color: #0056b3; /* Fondo azul oscuro al pasar el mouse */
  }
  
  .anterior {
    margin-right: 10px; /* Margen derecho para separar los botones */
  }

  .leta {
    color: black;
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 55px;
    text-align: justify; 
    margin: 30px 30px 20px;
  }

  img {
    max-width: 100%;
    height: auto;
    margin: auto;
    display: block;
  }


  .logo{
    display: flex;
    justify-content: center;
    align-items: center;
  }

.footer {
    background: #a4a2a2;
    padding: 1rem;
    text-align: center;
    margin-top: 1rem;
}

.responsive-iframe{
  align-content: center;
  position: relative;
  width: 420px;
  height: 300px;
}

  .zoom-in-out-box {
    animation: zoom-in-zoom-out 1s 3;
  }
  
  @keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.2, 1.2);
    }
    100% {
      transform: scale(1, 1);
    }
  }