.let {
    color: black;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 55px;
    text-align: center; 
    margin: 30px 30px 20px;
  }

  .botones {
    text-align: center; /* Centrar los botones */
    margin-top: 70px; /* Margen superior */
    margin-bottom: 30px;
  }

#alerta {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  #prompt-contrasena {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }


 .video-container {
  position: relative;
  padding-bottom: 56.25%; /* relación de aspecto 16:9 */
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pdf-container {
  max-width: 800px;
  max-height: 600px;
  margin: 0 auto;
  padding: 20px;
  border: none;
  overflow: hidden;
}

.pdf-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}
  
  .anterior, .siguiente {
    background-color: #007bff; /* Fondo azul */
    color: #ffffff; /* Letras blancas */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Relleno */
    font-size: 16px; /* Tamaño de fuente */
    cursor: pointer; /* Cursor de mano */
  }
  
  .anterior:hover, .siguiente:hover {
    background-color: #0056b3; /* Fondo azul oscuro al pasar el mouse */
  }
  
  .anterior {
    margin-right: 10px; /* Margen derecho para separar los botones */
  }

  .leta {
    color: black;
    font-size: 18px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 55px;
    text-align: justify; 
    margin: 30px 30px 20px;
  }

  img {
    max-width: 100%;
    height: auto;
    margin: auto;
    display: block;
  }


  .logo{
    display: flex;
    justify-content: center;
    align-items: center;
  }

.footer {
    background: #a4a2a2;
    padding: 1rem;
    text-align: center;
    margin-top: 1rem;
}

.responsive-iframe{
  align-content: center;
  position: relative;
  padding-top: 56.25;
}

  .zoom-in-out-box {
    animation: zoom-in-zoom-out 1s 3;
  }
  
  @keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.2, 1.2);
    }
    100% {
      transform: scale(1, 1);
    }
  }
